#footer {
    height: var(--footer-height);
    padding: var(--padding-s);

    background-color: var(--text-primary);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}