#stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    background-color: var(--tan-1);
    padding: 40px;
    border-radius: 4px;
}


.mainTime {
    display: flex;
    flex-direction: column;
}

.showSession {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hideSession {
    display: none;
}

.largeTime {
    font-size: 4rem;
}

.smallTime {
    font-size: 2rem;
}

#studyButton {
    font-size: 1rem;
    height: 50px;
    width: 50px;
    background-color: var(--orange-1);
    border: none;
    border-radius: 25px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#studyButton:hover {
    background-color: var(--orange-2);
}

