#body {
    min-height: calc(100vh);
    display: flex;

    --hero-height: 80px;
}

#content {
    flex: 1;
    height: 100vh;
}

#hero {
    height: var(--hero-height);

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: var(--padding-m);
    background-color: var(--background-secondary);
}

#hero > h1 {
    font-size: 2.5rem;
}

#mainContent {
    height: calc(100vh - var(--hero-height) - 4 * var(--padding-m));

    padding: var(--padding-m);
    display: grid;
    grid-template: 200px 1fr / 2fr 3fr;
    gap: var(--padding-s);

    background-color: var(--background-primary);
    /* border: 1px solid blue; */
}

#stopwatchContainer {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;

    border: 2px solid var(--background-tertiary);
    background-color: white;
}