#header {
    height: var(--header-height);
    padding: var(--padding-s) var(--padding-m);

    background-color: var(--text-primary);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header a {
    text-decoration: none;
    color: white;
}

#header > nav > a:hover {
    text-decoration: underline;
}